/* Icon Font */
@font-face {
  font-family: 'konilabs_icon_font';
  src: url("fonts/konifont.eot") format("embedded-opentype"),
  url("fonts/konifont.woff2") format("woff2"),
  url("fonts/konifont.woff") format("woff"),
  url("fonts/konifont.ttf") format("truetype"),
  url("fonts/konifont.svg#konifont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.kf {
  @extend .align-middle, .font-weight-normal, .m-1, .d-inline-block, .text-center;
  font-family: konilabs_icon_font;
  font-style: normal;
  text-decoration: inherit;
  width: 1em;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.kf-date:before {
  content: "\e001";
}

.kf-email:before {
  content: "\e002";
}

.kf-facebook:before {
  content: "\e003";
}

.kf-linkedin:before {
  content: "\e004";
}

.kf-readtime:before {
  content: "\e005";
}

.kf-reddit:before {
  content: "\e006";
}

.kf-tag:before {
  content: "\e007";
}

.kf-twitter:before {
  content: "\e008";
}

.kf-pdf:before {
  content: "\e009";
}

.kf-file:before {
  content: "\e00a";
}

.kf-zip:before {
  content: "\e00b";
}